html {
  height: 100%;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
}

@media (hover: none) {
  .calc-btn:hover {
    color: #FFFEFC;
    background-color: #00513C; 
    box-shadow: none;
  }
}