html {
  height: 100%;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
}

@media (hover: none) {
  .calc-btn:hover {
    background-color: initial; /* Reset the hover effect */
  }
}